/* Main Layout */

.main-layout {
    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 980px) minmax(16px, 1fr);
}

.main-layout>*:not(full) {
    grid-column: 2/-2;
}

.main-layout>.full {
    grid-column: 1/-1;
}

/* Card Layout */

.cards-layout {
    display: grid;
    gap: 80px;
    padding-top: 30px;
    padding-bottom: 80px;

    border: 0.5px solid rgba(225.00045776367188, 223.99658203125, 223.99658203125, 1);
}

.card-content {
    display: flex;
    flex-direction: column;
}

/* CARDS-CONTENT with GRID: */

/* .card-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
} */