:root {
    /* pallet */
    --clr-primary--1: rgba(78.99900000000001, 78.07079999999999, 78.07079999999999, 1);
    --clr-primary--2: rgba(95.99985000000001, 95.99985000000001, 95.99985000000001, 1);
    --clr-primary--3: rgba(255, 255, 255, 1);
    --clr-primary-base: rgba(41.00000135600567, 41.00000135600567, 41.00000135600567, 1);
    --clr-brand: #58C93A;


    /* mq */
    --s: 600px;
    --m: 980px;
    --l: 1060px;
}