.main-header {
    background: var(--clr-primary-base);
    display: grid;
    grid-template-columns: inherit;
    z-index: 1;
    font-family: lato-bold;
    box-shadow: inset 0px -6px 0px 0px black;
}



.main-header .inner-container {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}