.page-container {
    border: 0.5px solid rgba(225.00045776367188, 223.99658203125, 223.99658203125, 1);
    padding-top: 30px;
    padding-bottom: 81px;
    color: rgba(129.00195, 129.00195, 129.00195, 1);
    font-family: lato-bold;


}

.page-container h3 {
    cursor: pointer;
    position: relative;
}

.page-container h3:hover {
    color: var(--clr-brand);
}

.prev-btn::before {
    content: "←";
    position: absolute;
    left: .5em;
    top: .1em;

}

.next-btn::after {
    content: "→";
    position: absolute;
    right: .5em;
    top: .1em;

}

.page-container h3:nth-child(1) {
    padding-left: 30px;
}

.page-container h3:nth-child(2) {
    padding-right: 30px;
}